:host {
  background-color: var(--mat-sys-inverse-primary);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;

  form {
    width: 400px;
    display: block;
    background-color: var(--mat-sys-surface);
  }

  .login-form {
    padding: 2rem;
    border: 4px solid var(--mat-sys-primary);
    border-radius: 8px;
  }

  .full-width {
    width: 100%;
  }
}