<mat-toolbar>
  <span>WoWs</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button routerLink="/tickers" routerLinkActive="active">
    <mat-icon>assessment</mat-icon>
  </button>
  <button mat-icon-button routerLink="/trades" routerLinkActive="active">
    <mat-icon>timeline</mat-icon>
  </button>
  <button mat-icon-button routerLink="/transactions" routerLinkActive="active">
    <mat-icon>cached</mat-icon>
  </button>
  <button mat-icon-button routerLink="/settings" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
